.container {
  padding: 1rem;
  background-color: #22223345;
  border: 1px solid white;
  height: 100%;

  a {
    color: white;
    padding: 10px;
    border: 1px solid white;
    text-decoration: none;
    &:hover {
      background-color: white;
      color: #222233;
    }
  }
}

