:host {
  display: flex;
}

div {
  display: grid;
  grid-gap: 1rem;
  margin-bottom: 1rem;
  grid-template-columns: repeat(2, min-content);

  &.form-group {
    grid-template-columns: 150px min-content;
  }
}

form {
  width: 50vw;
}

aside {
  width: 50vw;
}

img {
  width: 10vw;
}
